[Desktop Entry]
Type=Application
Name=CrashSentinel
Comment=Practice and learn fractions
Exec=CrashSentinel
Icon=org.oneal.CrashSentinel
Terminal=false
Categories=Education;
